//Vars for the page
$creamWhite: #F8EDED;
$electricOrange: #FF8225;
$brickRed: #B43F3F;
$nightBlue: #173B45;
$darkBlue: #1B1833;
$nightPurple: #441752;
$semiWhite: #FFFFFF;
$interFont: "Inter", sans-serif;
$spaceFont: "Space Grotesk", sans-serif;
$baseFontSize: 16px;

//Vars for the genre colors
$dramaColor: #102E50;
$scifiColor: #03345c;
$thrillerColor: #1B1833;
$crimeColor: #11018f;
$actionColor: #eeb335;
$horrorColor: #d39205;
$romanceColor: #b60c0c;
$adventureColor: #b67e06;
$espionageColor: #b16f0d;
$musicColor: #da6c1d;
$mysteryColor: #a14000;
$historyColor: #BE3D2A;
$familyColor: #F2A900;
$animeColor: #d65b08;
$comedyColor: #207000;
$legalColor: #2d004b;